.gallery {
  box-sizing: border-box;
  text-align: center;
  color: #efefef;
  img {
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 500px;
  }
  .pagination-links {
    a, a:hover { color: #E8BACB; }
    max-width: 500px;
    margin: auto;
  }
  .prev-gallery {
    float: left;
  }
  .next-gallery {
    float: right;
  }
}
