#main-title {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 100px;
  padding-bottom: 20px;
  hr {
    margin: 10px 5px;
    color: #BFDBCF;
    background-color: #BFDBCF;
    height: 3px;
  }
  small {
    color: #E8BACB;
    a, a:visited { color: #E8BACB; }
    margin: 0px 5px;
    float: right;
    clear: both;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
  }
}
